/* .board {
    display: inline-block;
}

.row {
    display: block;
    border: 1px solid red;
}

.cell {
    height: 4rem;
    width: 4rem;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    line-height: 4rem;
} */
